<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Test -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0384913034470234"
     data-ad-slot="8650766875"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
